.accommodation {
  width: 100%;
  flex-wrap: wrap;
  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    gap: 20px;
    row-gap: 0px;

    /* &--home {
      transform: scale(0.7) translate(-21%);
    } */
  }

  &-details {
    padding-top: 3em;
    display: flex;

    &__section {
      margin-right: 3em;
      min-width: 50%;
      overflow: hidden;
    }

    &__section > * {
      padding-top: 1em;
    }

    &__description {
      font-family: 'Raleway', sans-serif;
    }

    &__pricevalue {
      font-size: 1.5em;
    }

    &__title {
      padding: 0;
    }

    &__image {
      padding: 0;
      max-height: 400px;
      max-width: 600px;
      min-width: 600px;
      object-fit: cover;
    }
  }

  &__inner {
    position: relative;
    top: -46px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: inline;
    position: relative;
  }

  &__price {
    padding-right: 10px;
  }

  &__image {
    max-height: 226px;
    min-height: 226px;
    min-width: 100%;
    object-fit: cover;
  }
}
