.glass {
  background-color: rgba(9, 13, 13, 0.4);
  backdrop-filter: blur(30px);
  padding-left: $sidebar-width;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  overflow: hidden;
}
