.glass {
  background-color: rgba(9, 13, 13, 0.4);
  backdrop-filter: blur(30px);
  margin-left: $sidebar-width;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}
